.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 80px;
    position: absolute;


    #header-logo {
        height: 80px;
    }

    .header-nav-item:not(:last-child) {
        margin: 0 20px;
    }

    .header-nav-item {
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }
}
